body{
	font-family: "Roboto", sans-serif;
    color: #252525;
}

header{
	background-color: #eebb44;
	margin-bottom: 50px;
}

header h1{
	margin-bottom: 0px;
}

header p{
	margin-top: 0px;
}

.card{
	border: 1px solid lightgrey;
	margin-bottom: 20px;
}

.card-image{
	width: 100%;
}

.card-content{
	vertical-align: center;
	padding: 20px;
}

.card-content h2{
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.card-content p{
	margin-top: 0px;
	margin-bottom: 5px;
}
